/* WebStudio index.html */

:root {
  --accent-color: #2196f3;
  --primary-text-color: #212121;
  --secondary-text-color: #757575;
  --white-color: #ffffff;
  --background: #2f303a;
}

body {
  background: var(--white-color);
  color: var(--primary-text-color);
  font-family: Roboto, sans-serif;
  font-style: normal;
  letter-spacing: 0.02;
}
img {display: block;}
/* Logotype */
use {
	transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: #000000;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03;
}
.logo .style {
  color: var(--accent-color);
}

/* Header Navigation */

header .container {
	max-width: 1600px;
	margin: 0 auto;
	border-bottom: 1px solid #ECECEC;
}
.nav {
	display: flex;
	align-items: center;
	margin: 0 auto;
		width: 1200px;
		padding-left: 15px;
		padding-right: 15px;
}
.nav .list {
	display: flex;
	margin-left: 93px;
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 0;
  list-style: none;
}
.nav .item:not(:last-child) {
	margin-right: 50px;
}
.nav .link:hover {
  color: var(--accent-color);
}
.nav .link {
	transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav .link.current {
  color: var(--accent-color);
}
.nav .link.current::after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	display: block;
	width: 100%;
	height: 4px;
	border-radius: 2px;
	background-color: var(--accent-color);
}
.nav .link {
	position: relative;
	display: block;
	padding-top: 32px;
	padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.33;
  color: var(--primary-text-color);
}

.auth {
	margin-top: 0;
	margin-bottom: 0;
	margin-left: auto;
	padding-left: 0;
	display: flex;
  list-style: none;
}
.auth .item:not(:last-child) {
	margin-right: 50px;
}
.auth .link {
	display: flex;
	align-items: center;
	justify-content: center;
	padding-top: 32px;
	padding-bottom: 32px;
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;	
  line-height: 1.33;
  color: var(--secondary-text-color);
}
.auth .icon {
	margin-right: 10px;
	fill: #757575;
}
.auth .link:hover svg use,
.auth .link:focus svg use {
	fill: #2196F3;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.auth .link:hover,
.auth .link:focus {
	color: var(--accent-color);
}
.auth .link {
transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Section Hero */

.hero {
	background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../image/hero.jpg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	max-width: 1600px;
	min-height: 600px;
	margin: 0 auto;
	padding: 200px 0;
	background-color: var(--background);
}
.hero .container {
	margin: 0 auto;
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
}
.hero .title {
	margin: 0 auto;
	margin-bottom: 30px;
	max-width: 650px;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  color: var(--white-color);
}
.hero .button {
	padding: 10px 32px;
	display: block;
	margin: 0 auto;
  background-color: var(--accent-color);
  color: var(--white-color);
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: navajowhite;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero .button:hover {
  background-color: #188ce8;
}
.hero .backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0.2);
	transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Hero Modal and Form */

.hero .backdrop.is-hidden {
	opacity: 0;
	visibility: hidden;
	pointer-events: none;
}
.hero .modal {
	position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	padding: 40px;
	width: 528px;
	height: 581px;
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 4px;
	background: var(--white-color);
}
.modal .close {
	position: absolute;
	right: 8px;
	top: 8px;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0;
	width: 30px;
	height: 30px;
	border-radius: 50px;
	background: var(--white-color);
	border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal .text {
	font-weight: 700;
	font-size: 20px;
	line-height: 1.15;
	letter-spacing: 0.03em;
	margin: 0 auto;
	margin-bottom: 12px;
	text-align: center;
}
.modal .list {
	list-style: none;
	margin: 0 auto;
	padding: 0;
}
.form .item {
	position: relative;
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	font-weight: 400;
	font-size: 12px;
	line-height: 1.16;
	letter-spacing: 0.01em;
	color: var(--secondary-text-color);
}
.form input {
	border: none;
	padding: 11px 12px;
	padding-left: 42px;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: none;
}
.form label {
	margin-bottom: 4px;
}
.form .link {
	color: var(--accent-color);
}
.form .icon-form {
	position: absolute;
	display: inline-block;
	top: 50%;
	left: 12px;
}
.form .item:focus-within > .icon-form {
	fill: var(--accent-color);
}
.form .item input:focus {
	border: 1px solid var(--accent-color);
}
.form .item textarea:focus {
	border: 1px solid var(--accent-color);
}
.form .mailling {
	display: flex;
	align-items: center;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	margin-top: 20px;
	margin-bottom: 30px;
	color: var(--secondary-text-color);
	text-align: center;
}
textarea {
	padding: 12px 16px;
	resize: none;
	border: 1px solid rgba(33, 33, 33, 0.2);
	border-radius: 4px;
	outline: none;
}
.form .check {
	display: flex;
	align-items: center;
	width: 16px;
	height: 15px;
	border: 2px solid var(--primary-text-color);
	border-radius: 2px;
	margin-right: 7px;
	margin-left: 14px;
}
.mailling input {
	position: absolute;
	white-space: nowrap;
	width: 1px;
	height: 1px;
	overflow: hidden;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
}
.mailling label {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0;
}
input:checked + label .check {
	background-color: var(--accent-color);
	border: 2px solid var(--accent-color);
}
.form .button-submit {
	display: block;
	margin: 0 auto;
	padding: 10px 52px;
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: navajowhite;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--white-color);
}
.form .button-submit:hover {
	background-color: #188ce8;
}
/* Section Skill */

.skill {
	padding: 94px 0;
}
.padding-bottom {
	padding-bottom: 0;
}
.skill .container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.skill .title-hidden {
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	width: 1px;
}
.skill .list {
	display: flex;
	margin: 0 auto;
	padding-left: 0;
  list-style: none;
}
.skill .item:not(:last-child) {
	margin-right: 30px;
}
.icon-bcg {
	width: 270px;
	height: 120px;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: #F5F4FA;
	border-radius: 4px;
	margin-bottom: 30px;
}
.skill .title {
	margin: 0 auto;
	margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}
.skill .text {
	margin: 0 auto;
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

/* Section Services */

.service {
	padding: 94px 0;
}
.service .container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.service .title {
	margin: 0 auto;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}
.service .list {
	display: flex;
	gap: 30px;
	margin: 0 auto;
	padding-left: 0;
  list-style: none;
}
.service .item {
	position: relative;
}
.service .box-text {
	position: absolute;
	bottom: 0;
	display: block;
	width: 370px;
	height: 70px;
	padding: 27px 0;
	background: rgba(47, 48, 58, 0.8);
}
.service .text {
	margin: 0 auto;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	text-align: center;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--white-color);
}

/* Section Developer */

.developer {
	padding: 94px 0;
  background-color: #f5f4fa;
}
.developer .container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.developer .title-dev {
	margin: 0 auto;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
}
.developer .list {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding-left: 0;
	gap: 30px;
  list-style: none;
}
.developer .item {
	box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
	0px 1px 1px rgba(0, 0, 0, 0.14), 
	0px 2px 1px rgba(0, 0, 0, 0.2);
	border-radius: 0px 0px 4px 4px;
}
.developer .card-title {
	padding-top: 30px;
	padding-bottom: 30px;
	background-color: var(--white-color);
	text-align: center;
	border-radius: 0px 0px 4px 4px;
}
.developer .title {
	margin: 0 auto;
	margin-bottom: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
}
.developer .text {
	margin: 0 auto;
  font-size: 16px;
  line-height: 1.18;
  color: var(--secondary-text-color);
}
.action {
	display: flex;
	margin-top: 16px;
	padding: 0 32px;
}
.action .list {
	list-style: none;
	gap: 0;
	margin: 0;
	padding: 0;
}
.action .link {
	display: flex;
	align-items: center;
	justify-content: center;
	height: 44px;
	width: 44px;
	border-radius: 50%;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.action .link:hover {
	background-color: #2196F3;
}
.action .link:hover svg use {
	fill: var(--white-color);
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.action .item-icon:not(:last-child) {
	margin-right: 10px;
}
.action .icon {
	fill: #AFB1B8;
}

/* Section Client */

.client {
padding: 94px 0;
}
.client .container {
	width: 1200px;
	padding-left: 15px;
	padding-right: 15px;
	margin: 0 auto;
}
.client .title {
	margin: 0 auto;
	margin-bottom: 50px;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.16;
	text-align: center;
	letter-spacing: 0.03em;
}
.client .list {
	display: flex;
	margin: 0 auto;
	padding-left: 0;
	list-style: none;
}
.client .item {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 170px;
	height: 92px;
	border: 1px solid #AFB1B8;
	border-radius: 4px;
	transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client .item:not(:last-child) {
	margin-right: 30px;
}
.client .item:hover {
	border: 1px solid #2196F3;
}
.client .icon {
	fill: #AFB1B8;
}
.client .item:hover svg use {
	fill: #2196F3;
	transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Portfolio.html */

/* Section Filter */

.filter {
	padding: 94px 0;
}
.filter .container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.filter .list {
	display: flex;
	justify-content: center;
	margin: 0 auto;
	margin-bottom: 50px;
	padding-left: 0;
  list-style: none;

}
.filter .item:not(:last-child) {
	margin-right: 6px;
}
.title-hidden {
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  width: 1px;
}
.filter .button {
	padding: 6px 22px;
  font-family: inherit;
  background-color: #f5f4fa;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
	border-radius: 4px;
	border: navajowhite;
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter .button:hover {
	background-color: var(--accent-color);
  color: var(--white-color);
}

/* Section Card */

.card-container {
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.card {
	display: flex;
	flex-wrap: wrap;
	margin: 0 auto;
	padding-left: 0;
  list-style: none;
}
.card .item-card {
	width: 370px;
	margin-right: 30px;
	margin-bottom: 30px;
	border: 1px solid #EEEEEE;
	transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card .item-card:hover {
	box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}
.card .action {
	position: relative;
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
}
.card .details {
	position: absolute;
	margin: 0 auto;
	padding: 63px 24px;
	width: 100%;
	height: 100%;
	font-weight: 400;
	font-size: 18px;
	line-height: 1.55;
	letter-spacing: 0.03em;
	color: var(--white-color);
	background: rgba(33, 150, 243, 0.9);

	transform: translateY(100%);
	transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.card .item-card:hover .details {
	transform: translateY(0);
}
.card .item-card:nth-child(3n) {
	margin-right: 0;
}
.card .item-card:nth-last-child(-n + 3) {
	margin-bottom: 0;
}
.container-card {
	padding: 20px 24px;
	background-color: var(--white-color);
}
.card .title {
	margin: 0 auto;
	margin-bottom: 4px;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}
.card .text {
	margin: 0 auto;
	font-size: 16px;
  line-height: 1.87;
  color: var(--secondary-text-color);
}

/* Footer navigation */

footer {
  background-color: var(--background);
	padding-top: 60px;
	padding-bottom: 60px;
}
footer .container {
	display: flex;
	width: 1200px;
	margin: 0 auto;
	padding-left: 15px;
	padding-right: 15px;
}
.logotype {
  text-decoration: none;
  font-family: Raleway, sans-serif;
  color: var(--white-color);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logotype .style {
  color: var(--accent-color);
}

/* Address */

.address {
	display: flex;
	margin-top: 20px;
  font-style: normal;
}
.address .style {
  color: var(--white-color);
}
.address .list {
	margin: 0;
	margin-right: 100px;
	padding-left: 0;
  list-style: none;
}
.address .link {
  text-decoration: none;
  font-size: 14px;
  line-height: 1.71;
  color: rgba(255, 255, 255, 0.6);
}
.address .item:not(:last-child) {
margin-bottom: 9px;
}
.join {
	margin-top: 12px;
}
.join .text {
	margin: 0 auto;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: #FFFFFF;
}
.join .list {
	display: flex;
	margin-top: 20px;
	padding-left: 0;
	list-style: none;
}
.join .item {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 0 auto;
	width: 44px;
	height: 44px;
	border-radius: 50%;
	background: rgba(255, 255, 255, 0.1);
	transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.join .link {
display: flex;
}
.join .item:not(:last-child) {
	margin-right: 10px;
}
.join .icon {
	fill: var(--white-color);
}
.join .item:hover {
	background-color: #2196F3;
}
.form-box {
	margin-left: 93px;
}
.form-box .text {
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--white-color);
	margin: 0 auto;
	margin-top: 12px;
	margin-bottom: 20px;
}
.form-box form {
display: flex;
}
.form-box input {
	margin-right: 12px;
	width: 358px;
	height: 50px;
	padding: 15px 16px;
	border: 1px solid rgba(255, 255, 255, 0.3);
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
	border-radius: 4px;
	outline: none;
}
.form-box form input {
	background: none;
}
.form-box .button-sing {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0 auto;
	width: 200px;
	height: 50px;
	background: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	border: navajowhite;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.87;
	letter-spacing: 0.06em;
	color: var(--white-color);
}
.form-box .button-sing svg {
	
margin-left: 10px;
}